<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% include "menu.html" %}
    <h1>Hola q hace!! mi nombre es: {{nombre}}</h1>
    <h2>La fecha actual es: {{fecha.day}} / {{fecha.month}} / {{fecha.year}}</h2>
    <p>{{lista}}</p>
    <p>
        <ul>
        {% if lista %}
          {% for Lista in lista %}
            <li>{{Lista}}</li>
          {% endfor %}
        {% else %}
            <li>No se generaron datos</li>
        {% endif %}
        </ul>
    </p>
</body>
</html>